@font-face {
  font-family: "iconfont"; /* Project id 3667461 */
  src: url('iconfont.woff2?t=1675822091329') format('woff2'),
       url('iconfont.woff?t=1675822091329') format('woff'),
       url('iconfont.ttf?t=1675822091329') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-jinyong:before {
  content: "\e615";
}

.icon-paidui:before {
  content: "\e662";
}

